<html>
  <head>
  </head>
  <body>
    <form action="/" method="POST">
      Url: <input name="url" type="text" />
      Email: <input name="email" type="email">
      Purchase Price: <input name="price" type="text"/>
      <input type="submit">
    </form>
  </body>
</html>